/* src/styles.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* utility: hide scrollbar when using overflow-x/overflow-y */
.no-scrollbar::-webkit-scrollbar { display: none; }
.no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }
